	body
	{
		color: white;
		background-color: blue;
		text-align:center;
	}
	
	.picture_right {
		float:right;
		position: relative;
		margin-right: 200px;
		margin-top: 50px;
		padding: 10px;
		border:2px solid black;
		margin-bottom: 50px
		}
	
	

	
	.H2 { text-align:left; font-family:Cooper Black; color:white; font-size: 36pt;}
	.ul { color:white; font-size: 18pt; text-align: left; line-height: 36pt; font-family:Rockwell; }
	.paragraph {text-align: leftwards;}
	
	.H3 { text-align:left; font-family: Cooper Black; color:red; font-size: 24pt;}
	
	.H4 { text-align:center;}